body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.label-logo {
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    color: #929292;
    line-height: 34px;
}

.tagline {
    text-align: center;
    font-size: 20px;
    color: #929292;
    font-style: normal;
}

.main-content input.search-input {
    margin-right: 14px;
    padding: 5px;
    height: 24px;
    text-align: center;
    border: 2px solid #929292;
    border-radius: 5px;
    box-sizing: content-box;
    text-transform: initial;
    color: #929292;
    text-align: center;
    height: 46px;
    box-sizing: border-box;
}

a.search--button {
    align-self: center;
}

a.search--button button {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #929292; 
    height: 46px;
    cursor: pointer;
}

i.fa-search {
    padding: 5px;
    color: #929292;
    background-color: #fff;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

form {
    flex-basis: auto;
    width: 100%;
}

.search-results {
    border: 2px solid #929292;
    border-radius: 5px;
    width: 80%;
    height: 560px;
    margin: 35px auto;
}

.row {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #333;
}

ul {
    padding: 0;
    margin: 25px 50px;
}

.fa-angle-down {
    padding-left: 30px;
}

input.search-input {
    width: 100%;
}